@import url(https://fonts.googleapis.com/css?family=Vibur);
*, *:after, *:before {
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}




.btn {
  border: 1px solid #d44f01;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-top: 15px;
  background: #FE5F01;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.log-form {
  color: #fff;
  font-weight: 100;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 0;
  border-radius: 25px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  left: 0;
  top: 0;
  position: relative;
  -webkit-transition: 0s;
  transition: 0s;
}
.log-form .close {
  position: absolute;
  top: 100%;
  right: 15px;
  font-size: 22px;
  opacity: 0;
}
.log-form .caption {
  font-weight: 100;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  min-height: 40px;
  padding-top: 13px;
  margin: 0;
  position: relative;
  margin-right: 15px;
  text-align: center;
}
.log-form .formset, .log-form p {
  opacity: 0;
  position: relative;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -moz-transition: -moz-transform 0.5s 1s, opacity 1s 1s;
  -o-transition: -o-transform 0.5s 1s, opacity 1s 1s;
  -webkit-transition: -webkit-transform 0.5s, opacity 1s;
  -webkit-transition-delay: 1s, 1s;
  -webkit-transition: opacity 1s 1s, -webkit-transform 0.5s 1s;
  transition: opacity 1s 1s, -webkit-transform 0.5s 1s;
  transition: transform 0.5s 1s, opacity 1s 1s;
  transition: transform 0.5s 1s, opacity 1s 1s, -webkit-transform 0.5s 1s;
}
.log-form p {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
.log-form .form-group {
  border-color: #fff;
}
.log-form .form-group:after {
  background: #fff;
}
.log-form .form-group .form-label, .log-form .form-group .form-control {
  color: #fff;
}
.log-form .form-group.focus:after {
  background: #fff;
}
.log-form .form-group.focus .form-label, .log-form .form-group.filled .form-label {
  color: #fff;
}
.log-form .btn {
  background: #fff;
  border-color: #eee;
}
.log-form.open {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  cursor: inherit;
  z-index: 50;
  border-radius: 0;
  -moz-transition: width 0.3s 0.4S, height 0.3s 0.8s, border-radius 1.5s;
  -o-transition: width 0.3s 0.4S, height 0.3s 0.8s, border-radius 1.5s;
  -webkit-transition: width 0.3s 0.4S, height 0.3s, border-radius 1.5s;
  -webkit-transition-delay: 0s, 0.8s, 0s;
  -webkit-transition: width 0.3s 0.4S, height 0.3s 0.8s, border-radius 1.5s;
  transition: width 0.3s 0.4S, height 0.3s 0.8s, border-radius 1.5s;
}
.log-form.open .close {
  top: 10px;
  opacity: .7;
  cursor: pointer;
  z-index: 4;
}
.log-form.open .close:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 26px;
  right: 12px;
  top: 8px;
}
.log-form.open .caption {
  font-size: 50px;
  margin: 50px auto 15px;
}
.log-form.open .formset, .log-form.open p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.log-form.twitter {
  background: #00ACED;
}
.log-form.twitter .btn {
  color: #00ACED;
}
.log-form.google {
  background: #DD4A3A;
}
.log-form.google .btn {
  color: #DD4A3A;
}
.log-form.facebook {
  background: #3B579D;
}
.log-form.facebook .btn {
  color: #3B579D;
}

.formset {
  padding: 25px;
  max-width: 320px;
  margin: auto;
}

.form-group {
  border-bottom: 1px solid #ffbe02;
  position: relative;
  margin-bottom: 15px;
}
.form-group:after {
  content: '';
  position: absolute;
  height: 2px;
  background: #fff;
  width: 0px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -2px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-group .form-control {
  border: none;
  height: 35px;
  position: relative;
  z-index: 2;
  padding: 5px;
  background: none;
  color: #FE5F01;
  width: 100%;
}
.form-group .form-control:focus, .form-group .form-control:active {
  box-shadow: none;
  outline: none;
}
.form-group .form-label {
  font-weight: 300;
  color: #ff8801;
  font-size: 14px;
  min-height: 17px;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 5px;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.form-group.focus:after {
  opacity: 1;
  width: 100%;
  background: #FE5F01;
}
.form-group.focus .form-label, .form-group.filled .form-label {
  top: -7px;
  font-size: 10px;
  color: #FE5F01;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(221, 74, 58, 0.5);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop 0.3s ease-in;
  animation: rippleDrop 0.3s ease-in;
}
@-webkit-keyframes rippleDrop {
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes rippleDrop {
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}

html { 
    background: url(https://images.wallpaperscraft.com/image/highlights_circles_spots_light_background_39040_2560x1600.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
  
  img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }
  
  #login-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;}
  
  /* Login container */
  #container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 450px;
    height: 600px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
  }
  
  .close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .close-btn:hover{
    opacity: .5;
  }
  
  /* Heading */
  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
  }
  
  /* Inputs */
  a,
  input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
  }
  
  /* Placeholders */
  ::-webkit-input-placeholder {
     color: #ddd;  }
  :-moz-placeholder { /* Firefox 18- */
     color: red;  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: red;  }
  :-ms-input-placeholder {  
     color: #333;  }
  
  /* Link */
  a{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgba(107,255,3,0.3);
  }
  
  a:hover{
    opacity: 0.7;
  }
  
  #remember-container{
    position: relative;
    margin: -5px 20px;
  }
  
  .checkbox {
    position: relative;
    cursor: pointer;
      -webkit-appearance: none;
      padding: 5px;
      border-radius: 4px;
    background: rgba(3,3,3,.2);
      display: inline-block;
    width: 16px;
    height: 15px;
  }
  
  .checkbox:checked:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  
  .checkbox:checked {
    background: rgba(3,3,3,.4);
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
      color: #fff;
  }
  
  .checkbox:checked:after {
      content: '\2714';
      font-size: 10px;
      position: absolute;
      top: 0px;
      left: 4px;
      color: #fff;
  }
  
  #remember{
    position: absolute;
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.5);
    top: 7px;
    left: 20px;
  }
  
  #forgotten{
    position: absolute;
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.2);
    right: 0px;
    top: 8px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #forgotten:hover{
    color: rgba(255,255,255,.6);
  }
  
  #forgotten-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 280px;
    height: 200px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
  }
  
  .orange-btn{
    background: rgba(87,198,255,.5);
  }  


  #cnw{
    position: absolute;
    margin-top: 290px;
    font-size: 25px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.2);
    right: 0px;
    top: 8px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #cnw:hover{
    color: rgba(255,255,255,.6);
  }
  
  #cnw-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 320px;
    height: 440px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
  }
  
  
/*new css*/

